@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 10% 2%;
		--foreground: 0 0% 90%;
		--card: 0 0% 6%;
		--card-foreground: 0 0% 90%;
		--popover: 0 10% 5%;
		--popover-foreground: 0 0% 90%;
		--primary: 0 0% 2.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 10% 10%;
		--secondary-foreground: 0 0% 60%;
		--muted: -38 10% 15%;
		--muted-foreground: 0 0% 60%;
		--accent: -38 10% 15%;
		--accent-foreground: 0 0% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 0 0% 90%;
		--border: 0 20% 14%;
		--input: 0 20% 18%;
		--ring: 0 0% 2.4%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-secondary-foreground;
	}
}
